    <!-- NAV  -->
    <nav class="relative">
        <div>
            <ul  class="flex px-10 sm:px-20 text-2xl whitespace-nowrap space-x-10 sm:space-x-20 overflow-x-auto overflow-hidden scrollbar-hide scroll-smooth">
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"> <a href="/movies">Trending</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/toprated">Top Rated</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/action">Action</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/comedy">Comedy</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/horror">Horror</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/romance">Romance</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/mystery">Mystery</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/sci-fi">Sci-Fi</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/western">Western</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/animation">Animation</a></li>
                <li class="last:pr-24 cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500"><a href="/tvmovie">TV Movie</a></li>
            </ul>
        </div>
    </nav>